part=xa7a100tcsg324-1I

[hls]
flow_target=vivado
syn.file=src/pipeline.cpp
syn.top=top

#Evita usar BRAM y DSP en las implementaciones
syn.op=mul impl=fabric
syn.op=add impl=fabric
syn.op=sub impl=fabric
syn.op=fadd impl=fabric
syn.op=fsub impl=fabric
syn.op=fdiv impl=fabric
syn.op=fexp impl=fabric
syn.op=flog impl=fabric
syn.op=fmul impl=fabric
syn.op=frsqrt impl=fabric
syn.op=frecip impl=fabric
syn.op=fsqrt impl=fabric
syn.op=dadd impl=fabric
syn.op=dsub impl=fabric
syn.op=ddiv impl=fabric
syn.op=dexp impl=fabric
syn.op=dlog impl=fabric
syn.op=dmul impl=fabric
syn.op=dsqrt impl=fabric
syn.op=hadd impl=fabric
syn.op=hsub impl=fabric
syn.op=hdiv impl=fabric
syn.op=hmul impl=fabric
syn.op=hsqrt impl=fabric

syn.compile.pipeline_loops=0
syn.compile.unroll_threshold=0
syn.schedule.effort=low
syn.bind.effort=low

package.output.format=rtl
package.output.syn=false
